<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you for sending message</title>
</head>
<body>
    Thank you for your message.
    <form method="get" action="/home">
        <button>Go Back</button>
    </form>
</body>
</html>