<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you for sending message</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

    <div class="contact-page">
    <%= message %>
    <form method="get" action="/home">
        <button class="btnhref">Go Back</button>
    </form>

</div>
</body>
</html>