<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/media.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/8c66f5b16b.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8c66f5b16b.js" crossorigin="anonymous"></script>

</head>

<body>
    <header id="Home-jump">

        <nav>

            <div class="web-logo">Fardeen's Portfolio</div>
            <div class="right">
                <ul>
                    <li> <a class="gotoLink"> Home </a></li>
                    <li> <a class="gotoLink"> About </a></li>
                    <li> <a class="gotoLink"> Skills </a></li>
                    <li> <a class="gotoLink"> Projects </a></li>
                    <li> <a class="gotoLink"> Contact </a></li>
                    <li class="light-dark-btn-parent"> <button class="light-dark-btn"><i
                                class="fa-solid fa-moon fa-lg"></i></button></li>
                </ul>
            </div>


        </nav>
    </header>

    <main>

        <section class="firstSection">

            <div class="leftSection">

                <div>Hi, my name is <span class="purple">Fardeen</span>
                    and I am a Passionate</div>
                <span id="element"></span>
                <div class="button">
                    <button class="btn"><a
                            href="https://acrobat.adobe.com/id/urn:aaid:sc:AP:c5d949d9-e5c2-4e93-9d34-899edf3ef977"
                            class="btnhref">Download CV</a></button>
                    <button class="btn"> <a href="https://github.com/Fardeen26" class="btnhref">Explore
                            GitHub</a></button>
                </div>

            </div>

            <div class="rightSection">
                <img src="/Image/Programmer-Engineering-Development-Illustration-on-transparent-background-PNG.png"
                    alt="" class="front-img">
            </div>


        </section>

        <hr class="hr-1">

        <section class="thirdSection" id="About-jump">

            <span class="text-gray">---- Who am I</span>
            <h1>About Me</h1>

            <div class="third-flex">

                <div class="third-left">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus sequi ipsum quae nostrum cumque
                    error ad. Officiis sequi ipsum voluptatibus omnis esse repudiandae veniam ut autem unde! Excepturi
                    fugiat veritatis et incidunt provident quod.Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Nostrum ipsa ipsam.
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit illum nemo facilis,
                    exercitationem repellat labore dolor sit consequatur accusantium ratione beatae voluptates,
                    provident cumque dolore voluptate. Distinctio excepturi adipisci hic beatae asperiores sint cumque.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam dolor molestias ratione sed,
                    voluptatem.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, doloribus.
                    <div class="button-2">
                        <button class="btn"><a
                                href="https://acrobat.adobe.com/id/urn:aaid:sc:AP:c5d949d9-e5c2-4e93-9d34-899edf3ef977"
                                class="btnhref">Download CV</a></button>
                    </div>

                </div>
                <div class="third-right">
                    <img src="Image/DSC_0200.JPG" alt="">
                </div>

            </div>
        </section>

        <hr class="hr-2">

        <section class="secondSection" id="Skills-jump">
            <span class="text-gray">---- Know about me</span>
            <h1>Skills & Tools</h1>
            <div class="secondSkills-container">
                <div class="secondBox-left">
                    <div class="secondBox-left-box-1">
                        <h3>Web Development</h3>
                        <p class="second-left-box-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                            voluptatibus quae natus doloribus veniam nobis, corrupti voluptatum porro tempora nesciunt
                            ducimus repudiandae illum praesentium delectus.</p>
                    </div>
                    <div class="secondBox-left-box-2">
                        <h3>Programming</h3>
                        <p class="second-left-box-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                            voluptatibus quae natus doloribus veniam nobis, corrupti voluptatum porro tempora nesciunt
                            ducimus repudiandae illum praesentium delectus.</p>
                    </div>
                </div>
                <div class="secondBox-right">
                    <div class="secondBox-right-options">
                        <button class="hreflink" id="color-white">Front-End</button>
                        <button class="hreflink" id="color-white">Back-End</button>
                        <button class="hreflink" id="color-white">Others</button>

                    </div>

                    <div class="secondBox-right-contents">

                        <!-- FRONT END SKILLS -->
                        <div class="front-end-detail">
                            <div class="skills-container">
                                <div class="skill-image">
                                    <img src="/Image/newhtml.png" alt="">
                                </div>
                                <div class="skill-image">
                                    <img src="/Image/css.png.png" alt="">
                                </div>
                                <div class="skill-image">
                                    <img src="/Image/javascript.png.png" alt="">
                                </div>
                                <div class="skill-image">
                                    <img src="/Image/bootstrap.png" alt="">
                                </div>
                                <div class="skill-image">
                                    <img src="/Image/react.png.png" alt="">
                                </div>
                                <div class="skill-image">
                                    <img src="/Image/AngularJS-Shield.svg" alt="">
                                </div>
                                <div class="skill-image">
                                    <img src="/Image/tailwind.jpeg" alt="">
                                </div>
                                <div class="skill-image">
                                    <img src="/Image/gsap.png" alt="">
                                </div>


                            </div>
                        </div>

                        <!-- BACKEND SKILLS -->

                        <div class="front-end-detail display-none">
                            <div class="skills-container">
                                <div class="skill-image">
                                    <img src="/Image/nodejs.png" alt="">
                                </div>
                                <div class="skill-image">
                                    <img src="/Image/expressjs.png" alt="">
                                </div>
                                <div class="skill-image">
                                    <img src="/Image/npm.png" alt="">
                                </div>
                                <div class="skill-image">
                                    <img src="/Image/api.png" alt="">
                                </div>
                                <div class="skill-image">
                                    <img src="/Image/sqldb.png" alt="">
                                </div>
                                <div class="skill-image">
                                    <img src="/Image/mongodb.png" alt="">
                                </div>
                            </div>
                        </div>

                        <!-- MISLINIOUS SKILLS -->


                        <div class="front-end-detail display-none">
                            <div class="skills-container">
                                <div class="skill-image">
                                    <img src="/Image/github.png" alt="">
                                </div>
                                <div class="skill-image">
                                    <img src="/Image/terminal.png" alt="">
                                </div>
                                <div class="skill-image">
                                    <img src="/Image/clang.png" alt="">
                                </div>
                                <div class="skill-image">
                                    <img src="/Image/c++.png" alt="">
                                </div>
                                <div class="skill-image">
                                    <img src="/Image/excel.jpg" alt="">
                                </div>
                                <div class="skill-image">
                                    <img src="/Image/msword.png" alt="">
                                </div>
                                <div class="skill-image">
                                    <img src="/Image/powerpoint.png" alt="">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>

        <hr class="hr-2">

        <section class="project-section" id="Projects-jump">
            <div class="project-title">
                <h1>Projects</h1>
            </div>

            <div class="project-container">
                <div class="project-box-1">
                    <div class="project-1 detail-parent">
                        <img src="/Image/spotifyrealpr.png" alt="" class="project-imgs">
                        <div class="project-detail">
                            <h1 id="project-2-detail-h1">Spotify Clone</h1>
                            <div class="project-desk">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus omnis id veniam,
                                quisquam illo esse architecto voluptatem excepturi. Aspernatur velit neque, aut atque
                                debitis voluptatibus.
                            </div>
                            <div class="project-tech display-flex">
                                <p>HTML</p>
                                <p class="margin-l-10">CSS</p>
                                <p class="margin-l-10">JavaScript</p>
                                <p class="margin-l-10">Bootstrap</p>
                                <p class="margin-l-10"><a href="">Icon</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="project-2 detail-parent">
                        <img src="/Image/amazonpr.png" alt="" class="project-imgs">
                        <div class="project-detail">
                            <h1 id="project-2-detail-h1">Amazon Clone</h1>
                            <div class="project-desk">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus omnis id veniam,
                                quisquam illo esse architecto voluptatem excepturi. Aspernatur velit neque.cwdv
                            </div>
                            <div class="project-tech display-flex">
                                <p>HTML</p>
                                <p class="margin-l-10">CSS</p>
                                <p class="margin-l-10">JavaScript</p>
                            </div>
                        </div>
                    </div>

                    <div class="project-1 detail-parent">
                        <img src="/Image/wordmeaning2pr.png" alt="" class="project-imgs">
                        <div class="project-detail">
                            <h1 id="project-2-detail-h1">WordMeaning App</h1>
                            <div class="project-desk">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus omnis id veniam,
                                quisquam illo esse architecto voluptatem excepturi. Aspernatur velit neque, aut atque
                                debitis voluptatibus. Lorem ipsum dolor sit.
                            </div>
                            <div class="project-tech display-flex">
                                <p>HTML</p>
                                <p class="margin-l-10">CSS</p>
                                <p class="margin-l-10">JavaScript</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ============================================ PROJECT BOX 2 ======================================= -->


                <div class="project-box-1">
                    <div class="project-1 detail-parent">
                        <img src="/Image/spotifypagespr.png" alt="" class="project-imgs">
                        <div class="project-detail">
                            <h1 id="project-2-detail-h1">Spotify Pages Clone</h1>
                            <div class="project-desk">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus omnis id veniam,
                                quisquam illo esse architecto voluptatem excepturi. Aspernatur velit neque, aut atque
                                debitis voluptatibus.dec
                            </div>
                            <div class="project-tech display-flex">
                                <p>HTML</p>
                                <p class="margin-l-10">CSS</p>
                                <p class="margin-l-10">JavaScript</p>
                            </div>
                        </div>
                    </div>

                    <div class="project-2 detail-parent">
                        <img src="/Image/flipcartpr.png" alt="" class="project-imgs">
                        <div class="project-detail">
                            <h1 id="project-2-detail-h1">Flipcart Clone</h1>
                            <div class="project-desk">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus omnis id veniam,
                                quisquam illo esse architecto voluptatem excepturi. Aspernatur velit neque.Fardeen
                            </div>
                            <div class="project-tech display-flex">
                                <p>HTML</p>
                                <p class="margin-l-10">CSS</p>
                                <p class="margin-l-10">JavaScript</p>
                            </div>
                        </div>
                    </div>

                    <div class="project-1 detail-parent">
                        <img src="/Image/portfoliopr.png" alt="" class="project-imgs">
                        <div class="project-detail">
                            <h1 id="project-2-detail-h1">Portfolio</h1>
                            <div class="project-desk">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus omnis id veniam,
                                quisquam illo esse architecto voluptatem excepturi. Aspernatur velit neque, aut atque
                                debitis voluptatibus. Lorem ipsum dolor sit.
                            </div>
                            <div class="project-tech display-flex">
                                <p>HTML</p>
                                <p class="margin-l-10">CSS</p>
                                <p class="margin-l-10">JavaScript</p>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- ===================================== PROJECT BOX 3 ============================================== -->

                <div class="project-box-1" id="edit-project-box-1">
                    <div class="project-1 detail-parent">
                        <img src="/Image/calculatorpr4.png" alt="" class="project-imgs">
                        <div class="project-detail">
                            <h1 id="project-2-detail-h1">Calculator</h1>
                            <div class="project-desk">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus omnis id veniam,
                                quisquam illo esse architecto voluptatem excepturi. Aspernatur velit neque, aut atque
                                debitis voluptatibus. Lorem ipsum dolor sit.
                            </div>
                            <div class="project-tech display-flex">
                                <p>HTML</p>
                                <p class="margin-l-10">CSS</p>
                                <p class="margin-l-10">JavaScript</p>
                            </div>
                        </div>
                    </div>

                    <div class="project-2 detail-parent">
                        <img src="/Image/simonpr2.png" alt="" class="project-imgs">
                        <div class="project-detail">
                            <h1 id="project-2-detail-h1">Simon says game</h1>
                            <div class="project-desk">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus omnis id veniam,
                                quisquam illo esse architecto voluptatem excepturi. Aspernatur velit neque. Lorem ipsum
                                dolor sit amet.
                            </div>
                            <div class="project-tech display-flex">
                                <p>HTML</p>
                                <p class="margin-l-10">CSS</p>
                                <p class="margin-l-10">JavaScript</p>
                                <p class="margin-l-10">Node.js</p>
                                <p class="margin-l-10">MongoDB</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </section>

        <hr class="hr-2">

        <section class="fifthSection" id="Contact-jump">

            <div class="fifth-title">
                <span class="text-gray">Get In Touch</span>
                <h1>Contact Me</h1>
            </div>

            <div class="fifth-flex">

                <div class="fifth-left">
                    <!-- <span class="text-gray">Get In Touch</span>
                    <h1>Contact Info</h1> -->

                    <div class="fifth-grid">
                        <div class="grid-box">
                            <i class="fa-solid fa-map-location-dot"></i>
                            <h3>Location</h3>
                            <p>Kota, Rajasthan</p>
                        </div>
                        <div class="grid-box">
                            <i class="fa-regular fa-clock"></i>
                            <h3>Available Time</h3>
                            <p>Monday-Saturday
                                <br>
                                10:00AM - 8:00PM
                            </p>
                        </div>
                        <div class="grid-box">
                            <i class="fa-solid fa-phone-volume"></i>
                            <h3>Phone</h3>
                            <p>+91 01125532553</p>
                        </div>
                        <div class="grid-box">
                            <i class="fa-solid fa-envelope"></i>
                            <h3>Email</h3>
                            <p>fardeenmansuri0316@gmail.com</p>
                        </div>
                    </div>
                </div>

                <div class="fifth-right">
                    <h1>Get In Touch</h1>

                    <form method="post" action="/home/contact" class="fifth-form">

                        <input type="name" name="username" class="fifth-input" placeholder="Your Name"><br>
                        <input type="email" name="email" class="fifth-input" placeholder="Your Email"><br>
                        <input type="text" name="message" placeholder="Your Message" class="large-input"><br>
                        <button class="fifth-btn">Send Message</button>

                    </form>
                </div>
            </div>

        </section>

    </main>

    <footer>

        <div class="footer-container">

            <div class="footer-box left">
                Thank's for visit Fardeen's Portfolio
            </div>

            <div class="links">
                <a href="https://www.instagram.com/fardeen_mansuri26/" target="_blank">
                    <div class="logo-1 link-border"><i class="fa-brands fa-instagram fa-2x"></i></div>
                </a>
                <a href="www.facebook.com" target="_blank" class="padding-lft-40">
                    <div class="logo-2 logo-p link-border"><i class="fa-brands fa-facebook fa-2x"></i></div>
                </a>
                <a href="https://twitter.com/fardeen14693425" target="_blank" class="padding-lft-40">
                    <div class="logo-3 logo-p link-border"><i class="fa-brands fa-twitter fa-2x"></i></div>
                </a>

                <a href="https://github.com/Fardeen26" target="_blank" class="padding-lft-40">
                    <div class="logo-4 logo-p link-border"><i class="fa-brands fa-github fa-2x"></i></div>
                </a>

                <a href="https://www.linkedin.com/in/fardeenmansoori/" target="_blank" class="padding-lft-40">
                    <div class="logo-5 logo-p link-border"><i class="fa-brands fa-linkedin fa-2x"></i></div>
                </a>
            </div>


        </div>

        <div class="footer-box2">

            <div class="footer-rights">
                &copy; www.fardeensportfolio.com | All Rights Reserved
            </div>

            <div class="footer-lang">
                <p><i class="fa-solid fa-earth-americas"></i> India (English)</p>
                <p class="p2"> &copy; 2023 Portfolio AB</p>
            </div>
        </div>

        <model style="width: 400px; height: 300px">
            <source src="assets/example.usdz" type="model/vnd.usdz+zip">
            <source src="assets/example.glb" type="model/gltf-binary">
        </model>

    </footer>

    <!-- MAIN SECTION END -->

    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="/script.js"></script>

</body>

</html>
