<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fardeen Mansuri</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/media.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/8c66f5b16b.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8c66f5b16b.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../Image/bluetopbg.jpg">
</head>

<body>

    <% if(success && success.length) { %>
        <div class="alert alert-primary alert-dismissible fade show col-4 offset-4 z-index-5 position-fixed mt-2"
            role="alert">
            <%= success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>

            <header id="Home-jump">
                <nav>
                    <div class="web-logo">Fardeen's Portfolio</div>
                    <div class="right">
                        <ul>
                            <li> <a class="gotoLink res-display-none-500"> Home </a></li>
                            <li> <a class="gotoLink res-display-none-500"> About </a></li>
                            <li> <a class="gotoLink res-display-none-500"> Skills </a></li>
                            <li> <a class="gotoLink res-display-none-500"> Projects </a></li>
                            <li> <a class="gotoLink res-display-none-500"> Contact </a></li>
                            <li class="light-dark-btn-parent"> <button class="light-dark-btn"><i
                                        class="fa-solid fa-sun fa-lg"></i></button></li>
                        </ul>
                    </div>
                </nav>
            </header>
            <main>
                <section class="firstSection">
                    <div class="leftSection">

                        <div class="big-title">Hi i'm <span class="purple">Fardeen Mansuri</span>
                            a Passionate</div>
                        <span id="element" class="purple big-title"></span>
                        <div class="button">
                            <button class="btn front-btn"><a
                                    href="https://acrobat.adobe.com/id/urn:aaid:sc:AP:1a338ab4-15b2-45b1-88a4-61dc0e8577cb"
                                    class="btnhref">Download CV</a></button>
                            <button class="btn front-btn margin-l-10"> <a href="https://github.com/Fardeen26"
                                    class="btnhref">Explore
                                    GitHub</a></button>
                        </div>

                    </div>

                </section>

                <hr class="hr-2">

                <section class="thirdSection" id="About-jump">
                    <div class="res-div">
                        <span class="text-gray">---- Who am I</span>
                    </div>
                    <h1 class="res-h1 h3">About Me</h1>

                    <div class="container-2 mt-3 mx-1">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <div class="card" id="about-card card-text-white"
                                    style="height: auto; border: none !important;">
                                    <div class="card-body">
                                        <h5 class="card-title about-card-title">My Journey/History</h5>
                                        <p class="card-text mt-3" id="about-card-text">
                                            Hy I am Fardeen Mansuri, a <b>second-year BCA student</b> at Maa Bharti PG College in Kota, embodies a unique journey into the world of software engineering. Having achieved an impressive 83% in my first year, I is not only excelling academically but I also a pioneer in my family, being the first to venture into the realm of software engineering. 
                                        </p>

                                        <p class="card-text" id="about-card-text">
                                            Hailing from a small town, My passion for technology is evident through my endeavors in <b> web development</b>. I have delved into the intricacies of the <b>MERN stack</b>, demonstrating a keen ability to craft responsive layouts and breathe life into digital landscapes. Beyond the academic sphere, I have accumulated <b>one year of hands-on experience</b> working with web development technologies, adding a practical edge to my theoretical knowledge.
                                        </p>
                                        <p class="card-text" id="about-card-text">
                                            Simultaneously, I am sharpening my problem-solving skills with a focus on <b>data structures and algorithms</b>, utilizing the power of C++. This dual pursuit not only showcases my dedication to mastering the technical aspects of software engineering but also positions my strategically for the challenges that lie ahead.</p>

                                        <p class="card-text" id="about-card-text">
                                            My journey extends beyond the screen. While I immersed in the world of coding, I always remains passionate about continuous learning. In my leisure time, i finds joy in the camaraderie of cricket, where strategy, teamwork, and skill converge.</p>

                                        <p class="card-text" id="about-card-text">
                                            Looking forward, I set my sights on the NIMCET exam, aspiring to pursue an <b>MCA</b>, thereby furthering my education and expertise in the field. My journey is a tapestry woven with academic achievements, practical experience, a love for learning, and a commitment to mastering the intricacies of software engineering.</p>
                                        <a href="#" class="btn btn-primary">Download CV</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <hr class="hr-2">

                <section class="secondSection" id="Skills-jump">
                    <span class="text-gray">---- Know about me</span>
                    <h1 class="res-h1 h3">Skills & Tools</h1>

                    <div class="container-xl mt-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25"
                                    aria-valuemin="0" aria-valuemax="100" style="height: 30px">
                                    <div class="progress-bar bg-primary" style="width: 90%">HTML</div>
                                </div>
                                <div class="progress mt-3" role="progressbar" aria-label="Info example"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="height: 30px">
                                    <div class="progress-bar bg-primary " style="width: 90%">CSS</div>
                                </div>
                                <div class="progress mt-3" role="progressbar" aria-label="Warning example"
                                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 30px">
                                    <div class="progress-bar bg-primary" style="width: 80%">BOOTSTRAP</div>
                                </div>
                                <div class="progress mt-3" role="progressbar" aria-label="Danger example"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 30px">
                                    <div class="progress-bar bg-primary" style="width: 85%">JAVASCRIPT</div>
                                </div>
                                <div class="progress mt-3" role="progressbar" aria-label="Danger example"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 30px">
                                    <div class="progress-bar bg-primary" style="width: 75%">TAILWINDL</div>
                                </div>
                                <div class="progress mt-3" role="progressbar" aria-label="Danger example"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 30px">
                                    <div class="progress-bar bg-primary" style="width: 70%">REACT</div>
                                </div>
                                <div class="progress mt-3" role="progressbar" aria-label="Danger example"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 30px">
                                    <div class="progress-bar bg-primary" style="width: 60%">GSOC</div>
                                </div>
                            </div>
                            <div class="col-md-6 res-mt">
                                <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25"
                                    aria-valuemin="0" aria-valuemax="100" style="height: 30px">
                                    <div class="progress-bar bg-primary" style="width: 80%">NODE.JS</div>
                                </div>
                                <div class="progress mt-3" role="progressbar" aria-label="Info example"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="height: 30px">
                                    <div class="progress-bar bg-primary" style="width: 83%">EXPRESS</div>
                                </div>
                                <div class="progress mt-3" role="progressbar" aria-label="Warning example"
                                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 30px">
                                    <div class="progress-bar bg-primary" style="width: 88%">MONGODB</div>
                                </div>
                                <div class="progress mt-3" role="progressbar" aria-label="Danger example"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 30px">
                                    <div class="progress-bar bg-primary" style="width: 65%">MYSQL</div>
                                </div>
                                <div class="progress mt-3" role="progressbar" aria-label="Danger example"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 30px">
                                    <div class="progress-bar bg-primary" style="width: 78%">GIT/GITHUB</div>
                                </div>
                                <div class="progress mt-3" role="progressbar" aria-label="Danger example"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 30px">
                                    <div class="progress-bar bg-primary" style="width: 85%">C/C++ LANGUAGE</div>
                                </div>
                                <div class="progress mt-3" role="progressbar" aria-label="Danger example"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 30px">
                                    <div class="progress-bar bg-primary" style="width: 91%">DATA STRUCTURE</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <hr class="hr-2">

                <section class="project-section" id="Projects-jump">
                    <span class="text-gray">---- What I made</span>
                    <div class="project-title">
                        <h1 class="res-h1 h3">Projects</h1>
                    </div>

                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-xs-12">
                                <div class="card mb-3 shadow-sm" id="card" style="max-width: 800px;">
                                    <div class="row g-0">
                                        <div class="col-md-6">
                                            <img src="/Image/cropedWanderlust.png" class="img-fluid rounded-start" alt="..."
                                                style=" height: 100%; width: 100%;">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card-body mt-4">
                                                <a href="https://wanderlust-6cr5.onrender.com" target="_blank" class="project-links">
                                                    <h5 class="card-title project-card-title" ><b
                                                            style="font-weight: 500;">WanderLust Booking App<a
                                                                href="https://wanderlust-6cr5.onrender.com" target="_blank">
                                                                <i
                                                                    class="fa-solid fa-arrow-up-right-from-square git-links"></i></a>
                                                    </h5>
                                                    </i>
                                                </a></b></h5></a>
                                                <p class="card-text project-card-text mt-3">
                                                    A MERN Stack project where you can - Create listings, add reviews, easy login/signup with fully responsive UI and Authentication.</p>
                                                <div class="project-tech">
                                                    <p>JavaScript</p>
                                                    <p class="margin-l-10">NodeJS</p>
                                                    <p class="margin-l-10">Bootstrap</p>
                                                    <p class="margin-l-10">MongoDB</p>
                                                    <p class="margin-l-10">ExpressJS</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-xs-12">

                                <div class="card mb-3 shadow-sm" style="max-width: 800px;">
                                    <div class="row g-0">
                                        <div class="col-md-6">
                                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAxvcbe_N-jJCsDCbnE7o23yYlweyCYhRd3g&usqp=CAU"
                                                class="img-fluid rounded-start" alt="..."
                                                style=" height: 100%; width: 100%;">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card-body mt-4">
                                                <a href="https://github.com/Fardeen26/WordMeaning-App" target="_blank" class="project-links">
                                                <h5 class="card-title project-card-title"><b
                                                        style="font-weight: 500;">WordMeaning App</b> <a
                                                        href="https://github.com/Fardeen26/WordMeaning-App"><i
                                                            class="fa-solid fa-arrow-up-right-from-square git-links"
                                                            style="font-size: .8rem;"></i></a></h5></a>
                                                <p class="card-text project-card-text mt-3">A Streamlined UI for instant word definitions. Harnessing APIs for rapid, precise responses, the project ensures an effortless exploration of words.</p>
                                                <div class="project-tech display-flex">
                                                    <p>HTML</p>
                                                    <p class="margin-l-10">CSS</p>
                                                    <p class="margin-l-10">JavaScript</p>
                                                    <p class="margin-l-10">Bootstrap</p>
                                                    <p class="margin-l-10">API</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-lg-6 col-md-12 col-xs-12">
                                <div class="card mb-3 shadow-sm"
                                    style="max-width: 800px; background-color: rgba(212, 218, 255, 0.1); color: #fff;">
                                    <div class="row g-0">
                                        <div class="col-md-6">
                                            <img src="/Image/NewSpotify.png" class="img-fluid rounded-start" alt="..."
                                                style=" height: 100%; width: 100%;">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card-body mt-4">
                                                <a href="https://github.com/Fardeen26/Sportify-Pages-Clone" target="_blank" class="project-links">
                                                <h5 class="card-title project-card-title"><b
                                                        style="font-weight: 500;">Spotify
                                                        Music <a
                                                            href="https://github.com/Fardeen26/Sportify-Pages-Clone">
                                                            <i class="fa-solid fa-arrow-up-right-from-square git-links"
                                                                style="font-size: .8rem;"></i></a></h5>
                                                </i></a></b></h5></a>
                                                <p class="card-text project-card-text mt-3">Authentically mimicking Spotify, our clone delivers seamless music playback and various features. Immerse yourself in a familiar, music-rich experience! 🎵🔥</p>
                                                <div class="project-tech display-flex">
                                                    <p>HTML</p>
                                                    <p class="margin-l-10">CSS</p>
                                                    <p class="margin-l-10">JavaScript</p>
                                                    <p class="margin-l-10">Bootstrap</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-xs-12">

                                <div class="card mb-3 shadow-sm"
                                    style="max-width: 800px; background-color: rgba(212, 218, 255, 0.1); color: #fff;">
                                    <div class="row g-0">
                                        <div class="col-md-6">
                                            <img src="/Image/spotifypagespr.png" class="img-fluid rounded-start"
                                                alt="..." style=" height: 100%; width: 100%;">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card-body mt-4">
                                                <a href="https://github.com/Fardeen26/Sportify-Pages-Clone" target="_blank" class="project-links">
                                                <h5 class="card-title project-card-title"><b
                                                        style="font-weight: 500;">Spotify
                                                        Pages</b> <a
                                                        href="https://github.com/Fardeen26/Sportify-Pages-Clone">
                                                        <i class="fa-solid fa-arrow-up-right-from-square git-links"
                                                            style="font-size: .8rem;"></i></a></h5></a>
                                               
                                                <p class="card-text project-card-text mt-3">
                                                    This clone brilliantly showcases Spotify's features and plans with 6 Spotify Introduction pages, offering a visual journey into the renowned music streaming platform.! 🎵✨</p>
                                                <div class="project-tech display-flex">
                                                    <p>HTML</p>
                                                    <p class="margin-l-10">CSS</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-lg-6 col-md-12 col-xs-12">
                                <div class="card mb-3 shadow-sm" style="max-width: 800px;">
                                    <div class="row g-0">
                                        <div class="col-md-6">
                                            <img src="/Image/NewCalculator.jpg" class="img-fluid rounded-start"
                                                alt="..." style=" height: 100%; width: 100%;">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card-body mt-4">
                                                <a href="https://github.com/Fardeen26/Amazon-Clone#amazon-clone" target="_blank" class="project-links">
                                                <h5 class="card-title project-card-title"><b
                                                        style="font-weight: 500;">The
                                                        Calculator</b> <a
                                                        href="https://github.com/Fardeen26/Amazon-Clone#amazon-clone">
                                                        <i class="fa-solid fa-arrow-up-right-from-square git-links"
                                                            style="font-size: .8rem;"></i></a></h5>
                                                        </a>
                                                <p class="card-text project-card-text mt-3">It Perform operations effortlessly with plain JavaScript. A simple yet powerful calculator for swift, on-the-fly calculations without the frills. Math made easy!🧮</p>
                                                <div class="project-tech display-flex">
                                                    <p>HTML</p>
                                                    <p class="margin-l-10">CSS</p>
                                                    <p class="margin-l-10">JavaScript</p>
                                                    <p class="margin-l-10">Bootstrap</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-xs-12">

                                <div class="card mb-3 shadow-sm" style="max-width: 800px;">
                                    <div class="row g-0">
                                        <div class="col-md-6">
                                            <img src="/Image/NewSimonSay.jpeg" class="img-fluid rounded-start" alt="..."
                                                style=" height: 100%; width: 100%;">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card-body mt-4">
                                                <a href="https://github.com/Fardeen26/Simon-Says-Game" target="_blank" class="project-links">
                                                <h5 class="card-title project-card-title"><b
                                                        style="font-weight: 500;">Simon
                                                        Says Game</b> <a
                                                        href="https://github.com/Fardeen26/Simon-Says-Game">
                                                        <i class="fa-solid fa-arrow-up-right-from-square git-links"
                                                            style="font-size: .8rem;"></i></a></h5>
                                                </i></a></h5></a>
                                                <p class="card-text project-card-text mt-3">Engage in the classic Simon Says experience with a captivating UI and immersive background audio. Test your memory, follow the sequence, and enjoy the game! 🎮</p>
                                                <div class="project-tech display-flex">
                                                    <p>HTML</p>
                                                    <p class="margin-l-10">CSS</p>
                                                    <p class="margin-l-10">JavaScript</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-lg-6 col-md-12 col-xs-12">

                                <div class="card mb-3 shadow-sm"
                                    style="max-width: 800px; background-color: rgba(212, 218, 255, 0.1); color: #fff;">
                                    <div class="row g-0">
                                        <div class="col-md-6">
                                            <img src="/Image/realFlipcart.png" class="img-fluid rounded-start" alt="..."
                                                style=" height: 100%; width: 100%;">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card-body mt-4">
                                                <a href="https://github.com/Fardeen26/wanderlust_app" target="_blank" class="project-links">
                                                <h5 class="card-title project-card-title"><b
                                                        style="font-weight: 500;">Flipcart
                                                        Clone</b> <a href="https://github.com/Fardeen26/wanderlust_app">
                                                        <i class="fa-solid fa-arrow-up-right-from-square git-links"
                                                            style="font-size: .8rem;"></i></a></h5>
                                                </i></a></h5></a>
                                                <p class="card-text project-card-text mt-3">A meticulously designed Flipcart Clone. While it doesn't offer functionality, its visually appealing interface showcases a commitment to design excellence.</p>
                                                <div class="project-tech display-flex">
                                                    <p>HTML</p>
                                                    <p class="margin-l-10">CSS</p>
                                                    <p class="margin-l-10">Bootstrap</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-xs-12">

                                <div class="card mb-3 shadow-sm" style="max-width: 800px;">
                                    <div class="row g-0">
                                        <div class="col-md-6">
                                            <img src="/Image/amazonpr.png" class="img-fluid rounded-start" alt="..."
                                                style=" height: 100%; width: 100%;">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card-body mt-4">
                                                <a href="https://github.com/Fardeen26/Amazon-Clone#amazon-clone" target="_blank" class="project-links">
                                                    <h5 class="card-title project-card-title"><b
                                                            style="font-weight: 500;">Amazon
                                                            Web Clone <a
                                                                href="https://github.com/Fardeen26/Amazon-Clone#amazon-clone">
                                                                <i
                                                                    class="fa-solid fa-arrow-up-right-from-square git-links"></i></a>
                                                    </h5>
                                                    </i>
                                                </b></h5></a>
                                                <p class="card-text project-card-text mt-3">It is a meticulously crafted Amazon Clone. Though light on functionalities, its design mirrors the original Amazon website, offering an immersive visual experience! 🌐</p>
                                                <div class="project-tech">
                                                    <p>HTML</p>
                                                    <p class="margin-l-10">CSS</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <hr class="hr-2">

                <section class="fifthSection" id="Contact-jump">

                    <div class="fifth-title">
                        <span class="text-gray" id="contact-gray">---- Get In Touch</span>
                        <h1 class="res-h1 h3">Contact Me</h1>
                    </div>

                    <div class="fifth-flex">

                        <div class="fifth-left">

                            <div class="fifth-grid">
                                <div class="grid-box">
                                    <i class="fa-solid fa-map-location-dot"></i>
                                    <h3>Location</h3>
                                    <p>Kota, Rajasthan</p>
                                </div>
                                <div class="grid-box">
                                    <i class="fa-regular fa-clock"></i>
                                    <h3>Available Time</h3>
                                    <p>Monday-Saturday
                                        <br>
                                        10:00AM - 8:00PM
                                    </p>
                                </div>
                                <div class="grid-box">
                                    <i class="fa-solid fa-phone-volume"></i>
                                    <h3>Phone</h3>
                                    <p>+91 6377692757</p>
                                </div>
                                <div class="grid-box">
                                    <i class="fa-solid fa-envelope"></i>
                                    <h3>Email</h3>
                                    <p>fardeenmansuri0316@gmail.com</p>
                                </div>
                            </div>
                        </div>

                        <div class="fifth-right"> 
                            <h1>Get In Touch</h1>

                            <form method="post" action="/home/contact" class="fifth-form needs-validation" novalidate>
                                <div class="">
                                    <input type="name" name="name" class="fifth-input form-control"
                                        placeholder="Your Name" id="validationCustom01" required>
                                </div>
                                <div class="">
                                    <input type="email" name="email" class="fifth-input form-control"
                                        placeholder="Your Email" id="validationCustom01" required>
                                </div>
                                <div class="">
                                    <textarea name="message" class="large-input form-control" placeholder="Your Message"
                                        id="validationCustom01" required></textarea>
                                </div>
                                <button class="fifth-btn">Send Message</button>

                            </form>
                        </div>
                    </div>

                </section>

            </main>
            <hr>
            <footer>

                <div class="footer-container">

                    <div class="footer-box left">
                        Thank You For Visit Fardeen's Portfolio
                    </div>

                    <div class="links">
                        <a href="https://www.instagram.com/fardeen_mansuri26/" target="_blank">
                            <div class="logo-1 link-border"><i class="fa-brands fa-instagram fa-2x"></i></div>
                        </a>
                        <a href="www.facebook.com" target="_blank" class="padding-lft-40">
                            <div class="logo-2 logo-p link-border"><i class="fa-brands fa-facebook fa-2x"></i></div>
                        </a>
                        <a href="https://twitter.com/fardeen14693425" target="_blank" class="padding-lft-40">
                            <div class="logo-3 logo-p link-border"><i class="fa-brands fa-twitter fa-2x"></i></div>
                        </a>

                        <a href="https://github.com/Fardeen26" target="_blank" class="padding-lft-40">
                            <div class="logo-4 logo-p link-border"><i class="fa-brands fa-github fa-2x"></i></div>
                        </a>

                        <a href="https://www.linkedin.com/in/fardeenmansoori/" target="_blank" class="padding-lft-40">
                            <div class="logo-5 logo-p link-border"><i class="fa-brands fa-linkedin fa-2x"></i></div>
                        </a>
                    </div>

                </div>

                <div class="footer-box2">
                    <div class="footer-rights footer-copyright">
                        &copy; www.fardeensportfolio.com | All Rights Reserved
                    </div>
                </div>

                <model style="width: 400px; height: 300px">
                    <source src="assets/example.usdz" type="model/vnd.usdz+zip">
                    <source src="assets/example.glb" type="model/gltf-binary">
                </model>

            </footer>
            <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
            <script src="/script.js"></script>

</body>

</html>