<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textify - Privacy & Policy</title>
</head>

<body>
    <div class="container">
        <div>
            <h2>Introduction</h2>
            <p>Welcome to Textify. This Privacy Policy explains how we collect, use, disclose, and protect your
                information when you
                use our app ("App"). By using the App, you agree to the collection and use of information in accordance
                with this
                policy.</p>
        </div>
        <div>
            <h2>Information You Provide</h2>
            <p>Uploaded Images: When you upload images to Textify for text extraction, we temporarily process the images
                to provide the
                service. We do not store the images or extracted text unless explicitly stated.</p>
        </div>
        <div>
            <h2>How We Use Your Information</h2>
            <p>We use the information we collect in the following ways:</p>
            <ul>
                <li>To provide and maintain our service</li>
                <li>To notify you about changes to our service</li>
                <li>To provide customer support</li>
                <li>To detect, prevent, and address technical issues</li>
            </ul>
        </div>
        <div>
            <h2>Disclosure of Your Information</h2>
            <p>We may disclose your personal information in the good faith belief that such action is necessary to:</p>
            <ul>
                <li>Comply with a legal obligation</li>
                <li>Protect and defend the rights or property of Textify</li>
                <li>Prevent or investigate possible wrongdoing in connection with the service</li>
                <li>Protect the personal safety of users of the service or the public</li>
                <li>Protect against legal liability</li>
            </ul>
        </div>
        <div>
            <h2>Security of Your Information</h2>
            <p>The security of your information is important to us, but remember that no method of transmission over the
                Internet, or
                method of electronic storage is 100% secure. While we strive to use commercially acceptable means to
                protect your
                personal information, we cannot guarantee its absolute security.</p>
        </div>
        <div>
            <h2>Changes to This Privacy Policy</h2>
            <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new
                Privacy Policy
                on this page.</p>
        </div>
    </div>

</body>

</html>
