<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textify - Terms and Conditions</title>
</head>

<body>
    <div class="container">
        <div class="first term">
            <h2>Acceptance of Terms</h2>
            <p>By downloading, accessing, or using Textify (the "App"), you agree to be bound by these Terms and
                Conditions ("Terms").
                If you do not agree to these Terms, please do not use the App.</p>
        </div>

        <div class="second term">
            <h2>Description of Service</h2>
            <p>By downloading, accessing, or using Textify (the "App"), you agree to be bound by these Terms and
                Conditions
                ("Terms").
                If you do not agree to these Terms, please do not use the App.</p>
        </div>

        <div class="third term">
            <h2>User Responsibilities</h2>
            <ul>
                <li>You agree to use the App only for lawful purposes and in accordance with these Terms.</li>
                <li>You are responsible for ensuring that the images you upload do not violate any copyrights,
                    trademarks, or other
                    proprietary rights.</li>
                <li>You must not use the App to extract text from images containing sensitive or personal information
                    unless you have the
                    explicit consent of the relevant parties.</li>
            </ul>
        </div>

        <div class="forth term">
            <h2>Intellectual Property</h2>
            <p>All intellectual property rights in the App, including its design, features, and content, are owned by
                the developers of
                Textify. You may not copy, modify, distribute, or reverse engineer any part of the App without explicit
                permission.</p>
        </div>

        <div class="fifth term">
            <h2>Privacy Policy</h2>
            <p>Textify respects your privacy. We do not store your uploaded images or extracted text unless explicitly
                stated. Please
                refer to our Privacy Policy for more details on how we handle your data.</p>
        </div>

        <div class="sixth term">
            <h2>Disclaimer of Warranties</h2>
            <p>The App is provided on an "as-is" and "as-available" basis. We make no warranties, express or implied,
                regarding the
                App's reliability, availability, or suitability for any purpose.</p>
        </div>

        <div class="seventh term">
            <h2>Limitation of Liability</h2>
            <p>To the maximum extent permitted by law, Textify shall not be liable for any indirect, incidental,
                special,
                consequential, or punitive damages, or any loss of profits or revenues, whether incurred directly or
                indirectly, or any
                loss of data, use, goodwill, or other intangible losses, resulting from:</p>
            <ul>
                <li>Your use or inability to use the App;</li>
                <li>Any unauthorized access to or use of our servers and/or any personal information stored therein;
                </li>
                <li>Any bugs, viruses, or other harmful components transmitted to or through the App.</li>
            </ul>
        </div>

        <div class="eightth term">
            <h2>Changes to Terms</h2>
            <p>We reserve the right to modify these Terms at any time. We will notify you of any changes by updating the
                date at the
                top of this document. Your continued use of the App after any changes to the Terms constitutes your
                acceptance of the
                new Terms.</p>
        </div>

        <div class="nineth term">
            <h2>Termination</h2>
            <p>We reserve the right to terminate or suspend your access to the App at our sole discretion, without
                notice, for conduct
                that we believe violates these Terms or is harmful to other users of the App, us, or third parties, or
                for any other
                reason.</p>
        </div>

        <div class="ten term">
            <h2>Contact Information</h2>
            <p>If you have any questions about these Terms, please contact us at fardeenmansuri0316@gmail.com & <a
                    href="https://twitter.com/fardeen14693425">X (twitter)</a></p>
        </div>

    </div>
</body>

</html>
