@import url('https://fonts.googleapis.com/css2?family=Anton&family=Baloo+2&family=Libre+Baskerville&family=Noto+Sans&family=Oswald:wght@500&family=Playfair+Display:wght@500&family=Poppins:wght@400;600&family=Roboto+Mono:wght@200&family=Roboto:wght@500&family=Rubik&family=Ubuntu&display=swap');

@media (max-width: 1287px) {

    nav ul li a {
        font-size: 14px;
    }

    .web-logo {
        font-size: 1.1rem;
    }

}

@media (max-width: 1050px) {
    .fifthSection {
        padding: 0px 20px 50px 20px;
    }

    .fifth-flex {
        margin-top: 60px;
        padding: 0 60px;
    }

    .fifth-input {
        width: 30vw;
        height: 35px;
    }

    .large-input {
        width: 30vw;
        height: 100px;
    }

    .fifth-btn {
        font-size: 13px;
        width: 13vw;
        height: 40px;
    }
}

@media (max-width: 890px) {

    nav {
        padding: 0 40px;
    }

    nav ul li a {
        font-size: 13px;
    }

    .web-logo {
        font-size: 1rem;
        white-space: nowrap;
        word-break: normal;
    }

    .fifth-left {
        display: none;
    }

    .fifthSection {
        padding: 0px 20px 20px 20px;
    }

    .fifth-input {
        width: 40vw;
        height: 35px;
    }

    .large-input {
        width: 40vw;
        height: 120px;
    }

    .fifth-btn {
        font-size: 12px !important;
        width: 13vw !important;
        height: 40px;
        padding: 5px;
    }

}

@media (max-width: 767px) {
    .res-mt {
        margin-top: 18px;
    }
}

@media (max-width: 700px) {

    nav ul li a {
        font-size: 12px;
    }

    nav ul li {
        padding: 0 10px;
    }

    .web-logo {
        font-size: .9rem;
        white-space: nowrap;
        word-break: normal;
    }

    .fifth-flex {
        display: flex;
        padding: 0 0px;
    }

    .fifthSection {
        padding: 0px 20px 20px 00px;
    }

    .large-input {
        width: 40vw;
        height: 100px;
    }

    .fifth-btn {
        font-size: 11px !important;
        width: 15vw;
        height: 35px;
        padding: 3px 5px;
        white-space: nowrap;
        word-break: normal;
    }
}

@media (max-width: 500px) {

    .res-display-none-500 {
        display: none;
    }

    .web-logo {
        font-size: .9rem;
        white-space: nowrap;
        word-break: normal;
        margin: 0px 0px 0px 15px;
    }

    nav ul li a {
        font-size: 12px;
    }

    nav ul li {
        padding: 0 0px;
        margin-right: 20px;
    }



    .fifthSection {
        margin-top: 40px;
    }

    .fifth-right {
        margin-left: 60px;
        padding: 30px;
        margin-top: -20px;
    }

    .fifth-input {
        width: 55vw;
        height: 35px;
    }

    .large-input {
        width: 55vw;
        height: 100px;
    }

    .fifth-btn {
        font-size: 9px !important;
        width: 19vw !important;
        height: 30px;
        padding: 5px;
    }
}

@media (max-width: 430px) {

    body {
        overflow-x: hidden;
    }

    .h3 {
        font-size: 1.6rem !important;
    }

    .thirdSection {
        padding: 0 .3rem;
        margin-top: 50px;
    }

    .web-logo {
        font-size: .9rem;
        white-space: nowrap;
        word-break: normal;
        margin: 0px 0px 0px 15px;
    }

    nav {
        padding: 0 30px;
    }

    nav ul li a {
        font-size: 12px;
    }

    nav ul li {
        padding: 0 0px;
        margin-right: 0px;
    }

    nav ul {
        margin-bottom: 0;
    }

    .light-dark-btn i {
        font-size: 1rem;
    }

    .firstSection {
        height: 260px;
        padding: 0 14px;
    }

    .big-title {
        font-size: 1.7rem;
    }

    .btn {
        padding: 6px !important;
        font-size: 10px !important;
    }

    #about-card h5 {
        font-size: 1.5rem !important;
    }

    #about-card-text {
        font-size: .8rem !important;
        line-height: 1.6 !important;
    }

    .fifthSection {
        padding: 0px 20px 20px 20px;
        margin-top: 50px;
    }

    #contact-gray {
        color: gray;
        font-size: 10px;
        display: flex;
        justify-content: center;
        font-family: 'Oswald', sans-serif !important;
    }

    .fifth-title {
        text-align: center;
    }

    .fifth-flex {
        margin-top: 20px;
    }

    .fifth-title h1 {
        font-size: 22px;
    }

    .fifth-right {
        margin-left: 10px;
        padding: 30px;
        margin-top: 10px;
    }

    .fifth-input {
        width: 60vw;
        height: 4vh;
    }

    .large-input {
        width: 60vw;
        height: 15vh;
    }

    .fifth-btn {
        font-size: 9px !important;
        width: 23vw !important;
        height: 30px;
        padding: 5px;
    }

    .left {
        font-size: 1.2rem !important;
    }

    .links a {
        font-size: 10px;
    }

    .footer-copyright {
        font-size: 7px !important;
    }

    .footer-lang .p2 {
        margin-top: 5px !important;
    }

    .hr-2 {
        display: none;
    }
}

@media (max-width: 321px) {
    .left {
        font-size: 1rem !important;
    }
}

@media (max-width: 300px) {


    nav {
        padding: 0 10px;
    }

    .web-logo {
        font-size: .9rem;
        white-space: nowrap;
        word-break: normal;
    }

    .thirdSection {
        padding: 0 .3rem;
    }

    .fifth-right {
        margin-left: -10px;
        padding: 30px 27px;
    }

    .fifth-right h1 {
        text-align: center;
        font-size: 1.4rem;
    }

    .fifth-input {
        width: 70vw;
        height: 5vh;
        font-size: 12px;
    }

    .large-input {
        width: 70vw;
        height: 13vh;
        font-size: 12px;
    }

    .fifth-btn {
        font-size: 9px !important;
        width: 33vw !important;
        height: 30px;
        padding: 5px;
    }
}